@import "Style/config.scss";

.cart {
    min-width: 320px;
    max-width: 800px;

    @media #{$phone} {
        margin: 0 auto;
        // margin-top: 100px;
        // border: 1px solid rgb(196, 194, 194);
    }

    @media #{$desktop} {
        margin: 0 auto;
        // margin-top: 100px;
        // border: 1px solid rgb(196, 194, 194);
    }

    .cart_menu {
        list-style: none;
        padding: 0 15px;

        li {
            display: flex;
            border-bottom: 1px solid black;
            padding-bottom: 15px;
            padding-top: 15px;
            margin-bottom: 15px;
        }

        .list_info {
            flex: 6;

            p {
                margin: 0;
                margin-bottom: 15px;
            }

            p:last-child {
                color: rgb(66, 66, 66);
                font-size: 14px;
            }
        }



        .list_price {
            flex: 2;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-right: 10px;

            .list_delete {
                width: 25px;
                margin-bottom: 7px;

                img {
                    width: 100%;
                    margin-top: -5px;
                }
            }

            div:last-child {
                // float: right;
                // margin-right: 10px;
            }
        }

    }

    .cart_pay_btn {
        width: 60px;
        margin: 0 auto;

        button {
            background-color: #e9e7e3;
            border: none;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width: 80px;
            padding: 4px;
            padding-top: 8px;

            .arrow_up {
                border: solid black;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
            }

            .arrow_down {
                border: solid black;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
        }

        button:focus {
            outline: none;
        }
    }

    .cart_pay {
        background-color: #e9e7e3;
        padding: 15px;

        .boxShow {
            background-color: white;
            border-radius: 4px;
            padding: 10px;
            padding-bottom: 20px;
            font-size: 15px;

            .cart_count {
                padding: 10px;
                border-bottom: 1px solid grey;
                margin-bottom: 8px;

                span:last-child {
                    float: right;
                }
            }

            .cart_store {
                padding: 10px;
                padding-right: 0;
                font-size: 13px;
                // display: flex;

                span:last-child {
                    float: right;
                    // flex: 1;
                    background-color: white;
                    color: black;
                    width: 50px;
                    // padding: 7px;
                    border-radius: 10px;
                    text-align: center;
                    font-weight: 600;
                }
            }
        }

        .boxHide {
            display: none;
        }

        .order_btn {
            width: 100%;
            margin-top: 15px;
            background-color: rgb(87, 86, 86);
            border: none;
            color: white;
            padding: 10px;
            font-size: 16px;
        }
    }


}