.wrap_order_list_card {
  // border: 1px solid gray;
  display: flex;
  justify-content: space-around;
  width: 95%;
  background-color: white;
  margin-top: 15px;
  box-shadow: 0 0 13px 0 rgba(62, 44, 90, 0.08);
  .order_list_box {
    padding: 5px;
    font-size: 40px;
    line-height: 100px;
    width: 10%;
    margin-right: 5px;
  }

  .wrap_menu_card_customer {
    padding: 5px;
    font-size: 25px;
    margin-left: 5%;
    > div {
      margin-bottom: 5px;
    }
    .wrap_button > button {
      background-color: black;
      color: white;
      font-size: 20px;
      min-width: 100px;
      width: 45%;
      margin-right: 10px;
      border: 2px solid black;
    }
    .wrap_menu_card_name {
      display: flex;
    }
  }
}
