.root_menu_card {
  display: flex;
  width: 17%;
  .wrap_menu_card_name {
    .wrap_img_menu_card {
      .img_menu_card {
        border-radius: 50%;
        width: 100px;
      }
    }
    .menu_name {
      text-align: center;
    }
  }
}
