.root_menu_card {
  // display: flex;
  // border: 1px solid red;
  .wrap_menu_card_name {
    margin-top: 25px;
    .wrap_img_menu_card {
      width: 100%;
      .img_menu_card {
        border-radius: 50%;
        width: 100px;
      }
    }
    .menu_name {
      text-align: center;
    }
  }
}
