@import "Style/config.scss";

.login_container {
    min-width: 320px;
    max-width: 800px;

    @media #{$phone} {
        margin: 0 auto;
        margin-top: 100px;
    }

    @media #{$desktop} {
        margin: 0 auto;
        margin-top: 100px;
    }

    .login_container_flex {
        display: flex;
        flex-direction: column;
        padding: 0 15px;

        .login_close_btn {
            width: 35px;
            margin-top: 5px;
            margin-left: -10px;
            cursor: pointer;

            img {
                width: 100%;

            }
        }

        .login_logo {
            height: 80px;
            margin-top: 97px;

            img {
                height: 100%;
            }
        }

        .login_text1 {
            font-size: 22px;
            line-height: 30px;

            p {
                margin-top: 30px;
                margin-bottom: 15px;
            }
        }

        .login_text2 {
            font-size: 15px;
            line-height: 30px;
            margin-bottom: 30px;

            p {
                margin: 0;
                color: rgb(78, 77, 77);
            }
        }

        .login_link {
            margin-left: 10px;
            margin-top: 10px;
            text-align: center;

            a {
                text-decoration: none;
                color: black;
                font-size: 13px;
                outline: none;
            }
        }
    }
}