@import "Style/config.scss";

.login_container {
    max-width: 450px;
    min-width: 320px;

    @media #{$phone} {
        margin: 0 auto;
    }

    .login_container_main {
        display: flex;
        flex-direction: column;
        margin-top: 115px;

        .login_logo {
            height: 80px;
            margin-left: 20px;

            img {
                height: 100%;
            }
        }

        .login_text1 {
            font-size: 22px;
            margin-left: 20px;

            p {
                margin-top: 30px;
                margin-bottom: 15px;
            }
        }

        .login_text2 {
            font-size: 15px;
            margin-left: 20px;

            p {
                margin: 0;
                color: rgb(78, 77, 77);
            }
        }

        .login_input {
            margin: 0 20px;
            margin-top: 50px;

            input {
                display: block;
                width: 100%;
                border-style: none;
                border-bottom: 1px solid grey;
                margin-bottom: 15px;
                font-size: 15px;
                padding-bottom: 8px;
            }

            input:focus {
                outline: none;
                border-bottom: 1px solid #006633;
            }
        }

        .login_link {
            margin-left: 10px;
            margin-top: 10px;
            text-align: center;

            a {
                text-decoration: none;
                color: black;
                font-size: 13px;
                outline: none;
            }
        }

        .login_btn {
            margin-top: 30px;

            input {
                display: block;
                width: 100%;
                border-style: none;
                font-size: 18px;
                background-color: #006633;
                color: white;
                padding: 10px;
                outline: none;
                cursor: pointer;
            }
        }
    }
}