@import "Style/font/font.scss";
.root_cup_pick_box {
  margin: 0;

  .cup_pick_contain_box {
    position: relative;
    display: flex;
    height: 40px;

    .cup_pick_alert_text {
      position: absolute;
      font-size: 0.7em;
      right: 2%;
      background-color: rgb(0, 102, 51);
      color: white;
      padding: 3px 7px;
      border-radius: 15px;
      margin-top: 15px;
      font-family: $homefont;
      @media only screen and (max-width: 486px) {
        font-size: 0.6em;
      }
    }

    .cup_pick_text {
      color: #333333;
      font-family: $homefont;
    }
  }
  .cup_pick_btn_contain_box {
    display: flex;
    border: 1px solid #333333;
    margin: 2% 0;
    border-radius: 4px;

    .cup_pick_btn_box {
      padding-top: 10px;
      text-align: center;
      height: 40px;
      flex: 1;
      color: #333333;
      font-family: $homefont;
      border-left: 1px solid #333333;
    }
    .border_left_none {
      border-left: none;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .border_right_radius {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}
.cup_pick_btn_box:hover {
  cursor: pointer;
  opacity: 0.8;
}
