.store {
    min-width: 320px;
    max-width: 800px;
}

#map {
    max-width: 800px;
    height: 300px;
}

// var imageSrc=ICON,
// // 마커이미지의 주소입니다
// imageSize=new window.window.kakao.maps.Size(30, 30),
// // 마커이미지의 크기입니다
// imageOption= {
//     offset: new window.window.kakao.maps.Point(27, 69)
// }

// ; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

// // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
// var markerImage=new window.window.kakao.maps.MarkerImage(imageSrc,
//     imageSize,
//     imageOption),
// markerPosition=new window.window.kakao.maps.LatLng(33.450701,
//     126.570667); // 마커가 표시될 위치입니다

// // 마커를 생성합니다
// var marker=new window.window.kakao.maps.Marker( {
//         position: markerPosition,
//         image: markerImage // 마커이미지 설정
//     }

// );
// marker.setMap(map);
// marker.setRange(300);