@import "Style/config.scss";

.signup_logo {
    height: 80px;
    margin-top: 81px;

    img {
        height: 100%;
    }
}

.signup_text {
    font-size: 22px;
    line-height: 30px;

    p {
        margin-top: 30px;
        margin-bottom: 60px;
    }
}

.signup_checkbox_all {
    border-bottom: 1px solid rgb(197, 197, 197);
    padding-bottom: 2px;
    margin-bottom: 10px;
}