@import "Style/config.scss";

.signup_sec_text {
    font-size: 22px;

    p {
        margin-top: 30px;
        margin-bottom: 30px;
        line-height: 30px;
    }
}

.signup_sec_check {
    padding-bottom: 5px;
    padding-left: 15px;
    margin: 0 -15px 15px -15px;
    border-bottom: 1px solid rgb(197, 197, 197);

    p {
        font-size: 12px;
        color: rgb(39, 39, 39);
        margin-left: 3px;
    }
}

.req_btn {
    border: none;
    background-color: white;
    cursor: pointer;
    color: grey;
    // border-bottom: 1px solid rgb(197, 197, 197);
    padding-bottom: 5px;
    float: right;
    margin-top: 5px;
}

.signup_sec_text2 {
    p {
        color: rgb(46, 45, 45);
        font-size: 9px;
        margin-bottom: 62px;
    }
}