@import "Style/config.scss";

.signup_thir_text {
    font-size: 22px;

    p {
        margin-top: 30px;
        margin-bottom: 30px;
        line-height: 30px;
    }
}

.signup_second_rdm1 {
    margin-left: 20px;
    margin-top: 25px;

    input {
        display: block;
        width: 90%;
        border: none;
        border-bottom: 1px solid rgb(197, 197, 197);
        margin-bottom: 15px;
        padding: 5px;
    }
}

.gender {
    font-size: 13px;
    color: gray;
    margin-bottom: 160px;

    span {
        margin-right: 15px;
    }

    input {
        margin-right: 5px;
    }

    label {
        margin-right: 10px;
    }
}