.root_header_admin {
  width: 100%;
  height: 80px;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0px;
  background-color: #fefefe;
  z-index: 1;
  box-shadow: 0 0 28px 0 rgba(86, 61, 124, 0.13);
  .header_logo {
    margin-right: 30px;
    margin-left: 5px;
    width: 350px;
    > img {
      width: 250px;
    }
  }

  .title_logo {
    .title_logo_name_main {
      color: violet;
      font-size: 30px;
      font-weight: 700;
      font-family: "Dancing Script", cursive;
      position: relative;
      left: 220px;
      top: -30px;
    }
  }
}
