.store_modal {
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .store_modal_wrapper {
        position: relative;
        display: block;
        align-items: center;
        justify-content: center;
        background: white;
        width: 80%;
        padding: 15px;

        p:first-child {
            text-align: center;
            font-weight: 500;
        }

        p:nth-child(3) {
            color: #c7a111;
            font-weight: 600;
            font-size: 17px;
            margin-bottom: 0;
        }

        p:nth-child(4) {
            font-size: 14px;
            margin-top: 10px;
            border-bottom: 1px solid rgb(196, 193, 193);
            padding-bottom: 10px;
            color: rgb(70, 68, 68);
        }

        p:nth-child(5) {
            font-size: 13px;
            margin-top: 10px;
            border-bottom: 1px solid rgb(196, 193, 193);
            padding-bottom: 10px;
            text-align: center;
        }

        p:nth-child(6) {
            font-size: 12px;
            margin-top: 10px;
            padding-bottom: 10px;
            text-align: center;
        }

        div:last-child {

            button {
                width: 45%;
                margin-right: 22px;
                border: none;
                background-color: rgb(233, 214, 196);
                color: rgb(107, 79, 6);
                padding: 10px;
                outline: none;
            }

            button:last-child {
                margin-right: 0;
                color: white;
                background-color: darkgoldenrod;
                ;
            }
        }
    }
}