@import "Style/config.scss";

.payment {
    min-width: 320px;
    max-width: 800px;

    @media #{$phone} {
        margin: 0 auto;
        // margin-top: 100px;
        // border: 1px solid rgb(196, 194, 194);
    }

    @media #{$desktop} {
        margin: 0 auto;
        // margin-top: 100px;
        // border: 1px solid rgb(196, 194, 194);
    }

    .payment_lists {
        .payment_title {
            background-color: #f6f5ef;
            padding: 10px;
            color: rgb(68, 67, 67);
            font-size: 15px;
        }

        .payment_title:first-child {
            margin-top: -20px;
        }

        .payment_store {
            padding: 15px 10px;

            p:first-child {
                font-size: 14px;
                margin: 0;
                margin-bottom: 5px;
            }

            p:last-child {
                font-size: 12px;
                margin: 0;
                margin-left: 5px;
                color: rgb(75, 74, 74);
            }
        }

        .payment_option {
            padding: 0 10px;

            .check_flex {
                display: inline-flex;

                p {
                    color: rgb(104, 102, 102);
                    font-size: 13px;
                    margin-top: 0;
                }
            }

        }

        .payment_method {
            padding: 0 10px;
            border-bottom: 1px solid grey;

            .payment_lists {
                margin-bottom: 20px;
            }
        }

        .item_used {
            border-style: none;
        }

        .payment_menu {
            padding: 0 10px;
            padding-right: 15px;
            font-size: 14px;
            margin-bottom: 0;

            .menu_lists {
                margin-top: 15px;
                border-bottom: 1px solid rgb(175, 172, 172);

                .menu_lists_fir {
                    display: flex;
                    margin-bottom: 5px;

                    div:first-child {
                        flex: 6;
                        margin-bottom: 5px;
                    }
                }

                .menu_lists_sec {
                    font-size: 13px;
                    color: rgb(83, 82, 82);

                    padding-bottom: 10px;
                    margin-left: 10px;

                    span:last-child {
                        float: right;
                        color: #c29f23;
                        font-weight: 600;
                    }
                }
            }

            li:last-child {
                border: none;
            }
        }

        .payment_count {
            background-color: #f6f5ef;
            padding: 15px;

            .payment_count_fir {
                font-size: 14px;
                color: rgb(70, 69, 69);
                margin-bottom: 10px;

                span:last-child {
                    float: right;
                    font-weight: 500;
                    color: black;
                }
            }

            .payment_count_sec {
                font-size: 14px;
                color: rgb(70, 69, 69);
                margin-bottom: 10px;
                border-bottom: 1px solid rgb(61, 60, 60);
                padding-bottom: 10px;

                span:last-child {
                    float: right;
                    font-weight: 500;
                    color: rgb(155, 61, 61);
                }
            }

            .payment_count_thir {
                margin-bottom: 10px;

                span:last-child {
                    float: right;
                    font-weight: 600;
                    color: rgb(122, 90, 90);
                }
            }
        }

        .payment_btn_bg {
            padding: 15px;

            .payment_btn {
                text-align: center;
                padding: 10px;
                background-color: #c29f23;
                color: white;
            }
        }


    }
}