.root_admin_login {
  .wrap_login_admin_info {
    .wrap_number_input_box {
      .admin_user_name {
        margin-right: 74px;
        line-height: 57px;
        text-align: center;
      }
    }
  }
}
