.header_box {
  position: relative;
  height: 80px;
  width: 100%;
  background-color: black;
  .header_angel_logo {
    position: absolute;
    background-image: url("../../Style/img/sLogo.png");
    width: 50px;
    height: 50px;
    top: 15px;
    left: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .header_text_logo {
    position: absolute;
    background-image: url("../../Style/img/tLogo.png");
    width: 20%;
    height: 60px;
    min-width: 130px;
    max-width: 300px;
    top: 10px;
    left: 40%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    @media only screen and(max-width: 700px) {
      left: 31%;
    }
  }
  .header_search_icon {
    position: absolute;
    background-image: url("../../Style/img/search-glass.png");
    width: 33px;
    height: 33px;
    top: 25px;
    right: 80px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    @media only screen and(max-width: 700px) {
      display: none;
    }
  }
  .header_shopping_icon {
    position: absolute;
    background-image: url("../../Style/img/shopping-bag.png");
    width: 33px;
    height: 33px;
    top: 25px;
    right: 30px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    @media only screen and(max-width: 700px) {
      background-image: url("../../Style/img/menu.png");
    }
  }
}
