.admin_footer {
  width: 100%;
  font-size: 40px;
  position: fixed;
  bottom: 0px;
  line-height: 80px;

  .wrap_next_order_price {
    height: 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 1px solid black;

    > div:nth-child(odd) {
      width: 22%;
      background-color: black;
      color: white;
    }

    > div:nth-child(even) {
      width: 18%;
      background-color: white;
      color: black;
    }

    > div:first-child {
      width: 12%;
      background-color: black;
      color: white;
    }
    > div:first-child {
      width: 12%;
      background-color: black;
      color: white;
    }
    > div:nth-child(2) {
      width: 25%;
      background-color: white;
      color: black;
    }
    .month_sales_amount {
      padding-right: 20px;
    }
  }
}
