.arrow_div {
    display: flex;
    padding: 10px;
    padding-top: 15px;
    border-bottom: 1px solid rgb(161, 161, 161);
    font-size: 14px;

    div:first-child {
        flex: 4;
    }

    div:nth-child(2) {
        flex: 4;
    }

    .right_arrow {
        flex: 0.3;

        img {
            width: 100%;
        }
    }
}

.arrow_none {
    display: flex;
    padding: 10px;
    padding-top: 15px;
    font-size: 14px;

    div:first-child {
        flex: 4;
    }

    div:nth-child(2) {
        flex: 4;
    }

    .right_arrow {
        flex: 0.3;

        img {
            width: 100%;
        }
    }
}