@import "Style/config.scss";

.signup_container {
    min-width: 320px;
    max-width: 450px;

    @media #{$smPhone} {
        margin: 0 auto;
    }

    @media #{$phone} {
        margin: 0 auto;
        margin-top: 100px;
    }

    @media #{$desktop} {
        margin: 0 auto;
        margin-top: 100px;
    }

    .signup_container_flex {
        display: flex;
        flex-direction: column;
        padding: 0 15px;

        .signup_close_btn {
            width: 35px;
            margin-top: 5px;
            margin-left: -10px;
            cursor: pointer;

            img {
                width: 100%;

            }
        }
    }
}