@import "Style/config.scss";

.root_header_admin {
  .title_logo {
    > .title_logo_name {
      width: 20%;
      height: 60px;
      margin-right: 20px;
    }
  }
  .wrap_admin_user_info {
    display: inline;
  }
  .header_logo {
    margin-right: 30px;
    margin-left: 5px;
    width: 350px;

    > .login_img_name {
      width: 250px;
    }
  }
  .title_logo {
    .title_logo_name {
      color: violet;
      font-size: 30px;
      font-weight: 700;
      font-family: "Dancing Script", cursive;
      position: relative;
      left: -150px;
      top: 30px;
    }
  }
}

.wrap_login_admin_info {
  position: relative;
  top: 250px;
  margin-right: auto;
  margin-left: auto;
  width: 600px;

  .wrap_locations {
    display: flex;

    .location_city {
      font-size: 30px;
      margin-right: 45px;
      line-height: 57px;
    }
    .non_clickSelected {
      width: 192px;
      margin-right: 15px;
    }
    .clickSelected {
      @extend .non_clickSelected;
    }
  }

  .location_admin,
  .admin_position,
  .admin_number,
  .admin_password {
    line-height: 57px;
  }

  .wrap_location_select_box,
  .wrap_position_select_box,
  .wrap_number_input_box,
  .wrap_password_input_box {
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
    > div {
      font-size: 30px;
      margin-right: 3%;
    }

    .employees_numbers {
      width: 66.8%;
      height: 55px;
      border: 1px solid #999;
      margin-left: 11px;
    }
  }
  .wrap_admin_button {
    float: right;
    margin-right: 56px;
    display: flex;
    flex-direction: column;

    .wrap_admin_3button {
      display: flex;
      margin-bottom: 10px;

      > button {
        width: 100px;
        height: 40px;
        border-radius: 15px;
        font-size: 20px;
        border: 1px solid black;
        background: green;
        color: azure;
        margin-left: 15px;
        margin-top: 5px;
        font-weight: bold;
      }
    }
    > #kakao-login-btn {
      width: 210px;
      height: 40px;
      margin-left: 10px;
    }

    // .kakaoLogin {
    //   background-color: yellow;
    //   color: #381e1f;
    //   font-size: 14px;
    //   font-weight: bold;
    // }
  }
}
//media query
@media #{$ipad} {
  .wrap_login_admin_info {
    margin-left: 30px;
  }
}
