@import "Style/config.scss";

.root_header_admin {
  .title_logo {
    > .title_logo_name {
      width: 20%;
      height: 60px;
      margin-right: 20px;
    }
  }
  .wrap_admin_user_info {
    display: inline;
  }
  .header_logo {
    margin-right: 30px;
    margin-left: 5px;
    width: 337px;

    > .login_img_name {
      width: 250px;
    }
  }
  .title_logo {
    .title_logo_name {
      color: violet;
      font-size: 30px;
      font-weight: 700;
      font-family: "Dancing Script", cursive;
      position: relative;
      left: 220px;
      top: -30px;
    }
  }
}

.wrap_logo_information_text {
  width: 400px;
  margin: 200px auto 0px;
  .logo {
    width: 80px;
    height: 80px;
    background: url("../../../Style/img/sLogo.png");
    background-position: center;
    background-size: contain;
    margin-bottom: 30px;
  }
  .information_text {
    font-size: 30px;
    font-weight: 400;
    line-height: 140%;
  }
  p {
    color: #4e4d4d;
    font-size: 20px;
    margin-bottom: 50px;
  }
}

.wrap_login_admin_info {
  .wrap_locations {
    display: flex;

    .location_city {
      font-size: 30px;
      margin-right: 45px;
      line-height: 57px;
    }
    .non_clickSelected {
      width: 192px;
      margin-right: 15px;
    }
    .clickSelected {
      @extend .non_clickSelected;
    }
  }

  .location_admin,
  .admin_position,
  .admin_number,
  .admin_password {
    line-height: 57px;
  }

  .wrap_number_input_box,
  .wrap_password_input_box {
    margin-bottom: 15px;
    > div {
      font-size: 30px;
      margin-right: 3%;
    }

    .employees_numbers {
      width: 100%;
      height: 40px;
      border: none;
      border-bottom: 1px solid #d6c798;
    }
    .employees_numbers::placeholder {
      font-size: 16px;
    }
  }
  .wrap_admin_button {
    margin-top: 50px;
    border-bottom: 6px dotted #d6c798;
    padding-bottom: 70px;
    .wrap_admin_3button {
      > button {
        width: 100px;
        height: 40px;
        border-radius: 8px;
        font-size: 18px;
        border: 2px solid #d6c798;
        background: #ffffff;
        color: #aaaaaa;
        margin-right: 15px;
        font-weight: 300;
        &:hover {
          cursor: pointer;
          border: 2px solid #7a4504;
          color: #7a4504;
        }
      }
    }
  }
  > #kakao-login-btn {
    display: block;
    width: 200px;
    margin-top: 70px;
  }
}
//media query
@media #{$ipad} {
  .wrap_logo_information_text {
    padding: 30px;
  }
}
