.root_header_admin {
  width: 100%;
  border: 1px solid red;
  display: flex;
  //   justify-content: space-between;
  //   text-align: left;
  align-items: baseline;
  font-size: 20px;
  padding-right: 10px;

  .header_logo {
    width: 100px;
    margin-right: 5px;
    border: 1px solid blue;
  }

  .wrap_admin_user_info {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    > span:nth-child(odd) {
      background-color: aqua;
    }
    .admin_user_info {
      margin-right: 5px;
      border: 1px solid green;
    }
  }

  .admin_login_button {
    width: 10%;
    font-size: 18px;
  }
}

.wrap_order_list_card {
  display: flex;
  border: 1px solid red;

  .wrap_menu_card_customer {
    // display: flex;
    .wrap_button {
      // display: flex;
    }
    .wrap_menu_card_name {
      display: flex;
    }
  }
}
