@import url("https://fonts.googleapis.com/css?family=Dancing+Script:700|Nanum+Gothic|Nanum+Pen+Script&display=swap");
@import "Style/config.scss";

* {
  font-family: "Nanum Gothic", sans-serif;
}

//우측상단 관리자 정보
.wrap_admin_user_info {
  width: 100%;
  font-size: 20px;
  line-height: 60px;
  background-color: white;

  > span:nth-child(odd) {
    color: #2a2a2a;
  }
  > span:nth-child(even) {
    color: #666666;
  }
  .admin_user_info {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 20%;
    margin-right: 15px;
  }
}

.admin_login_button {
  margin-top: 9px;
  margin-right: 19px;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  border: 1px solid #8769b5;
  background-color: #8769b5;
  color: white;
  border-radius: 15px;
  box-shadow: 0 2px 6px 0 rgba(136, 106, 181, 0.5);
}

//바디
.root_body_admin {
  background-color: #f9f7fa;
  position: relative;
  width: 100%;
  margin-top: 80px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .order_list_title {
    font-size: 33px;
    color: #333333;
    margin-top: 20px;
    margin-left: 5px;
    position: relative;
    margin-bottom: 20px;
    font-weight: 550;
  }
  .wrap_list_praph {
    display: flex;
    justify-content: space-between;

    .wrap_order_list {
      padding: 5px;
      width: 30%;
      height: 800px;
      // border: 1px solid black;
      overflow-y: auto;
      // display: flex;
      // flex-wrap: wrap;
    }

    .wrap_order_list_graph {
      width: 70%;
      height: 800px;
      padding-right: 30px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;

      .wrap_day_month_sales_charts {
        display: flex;
        .wrap_popular_legend_op {
          display: flex;
        }
        .wrap_legends {
          position: relative;
          height: 100px;
          left: 100px;
          top: 20px;

          .wrap_legend {
            margin-top: 5px;
            margin-bottom: 5px;
            display: flex;
            .legend_size {
              width: 20px;
              height: 20px;
              margin-right: 5px;
            }
          }
        }
      }
      .wrap_realtime_timeoder {
        display: flex;

        .wrap_realtime_month {
          width: 48.5%;
          padding: 20px 10px 10px 10px;
          margin-top: 30px;
          background-color: white;
          margin-left: 30px;
          margin-right: 0px;
          box-shadow: 0 0 13px 0 rgba(62, 44, 90, 0.08);
        }
      }
      .wrap_per_month_price {
        box-shadow: 0 0 13px 0 rgba(62, 44, 90, 0.08);
        background-color: white;
        width: 97.5%;
        margin-top: 30px;
        margin-left: auto;
        padding: 20px 10px 10px 10px;
      }
    }
  }
}

@media #{$ipad} {
  .root_header_admin {
    .header_logo {
      margin-right: 30px;
      margin-left: 5px;
      width: 400px;
      > img {
        width: 137.5%;
      }
    }
    .title_logo {
      .title_logo_name_main {
        left: 11px;
        top: 30px;
      }
    }
  }
  .wrap_admin_user_info > span:not(:last-child) {
    display: none;
  }

  .wrap_admin_user_info_btn {
    display: flex;

    .admin_login_button {
      background-color: white !important;
      background-blend-mode: multiply;
      width: 64px;
      height: 50px;
      padding: 0px;
      border: none;
      opacity: 0.8;
      background: url("../../Style/img/activity-feed-64.png");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }

    .wrap_admin_option_message {
      border: 1px solid black;
      padding-top: 10px;
      position: absolute;
      width: 200px;
      height: 110px;
      right: 30px;
      background: white;
      display: flex;
      flex-direction: column;
      text-align: center;
      box-shadow: 0 2px 6px 0 rgba(136, 106, 181, 0.5);
      .admin_user_info {
        margin-top: 5px;
      }
      .admin_logout_button {
        margin-top: 5px;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        background-color: #8769b5;
        border: 1px solid #8769b5;
        color: white;
        font-size: 18px;
      }
    }
  }

  .root_body_admin {
    .order_list_title {
      display: none;
    }
    .wrap_list_praph {
      .wrap_order_list {
        display: none;
      }
      .wrap_order_list_graph {
        width: 100%;
        height: 100%;
        // padding-right: 15px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        .wrap_day_month_sales_charts {
          display: flex;
          // flex-wrap: wrap;
          flex-direction: column;
          // border: 1px solid red;
          width: 100%;
          // margin-left: 15px;

          .root_day_sales_information {
            width: 100%;
            margin-left: 15px;
            // display: flex;
            // justify-content: space-between;
          }

          .wrap_popular_legend_op {
            display: flex;
            // justify-content: space-between;
          }
          .wrap_legends {
            // position: relative;
            height: 100px;
            // left: 70px;
            // top: 20px;
            .wrap_legend {
              margin-top: 5px;
              margin-bottom: 5px;
              display: flex;
              .legend_size {
                width: 20px;
                height: 20px;
                margin-right: 5px;
              }
            }
          }
        }
        .wrap_realtime_timeoder {
          display: flex;
          flex-direction: column;

          .wrap_realtime_month {
            width: 100%;
            padding: 20px 10px 10px 10px;
            margin-top: 30px;
            background-color: white;
            margin-left: 15px;
            margin-right: 0px;
            box-shadow: 0 0 13px 0 rgba(62, 44, 90, 0.08);
          }
        }
        .wrap_per_month_price {
          box-shadow: 0 0 13px 0 rgba(62, 44, 90, 0.08);
          background-color: white;
          width: 100%;
          margin-top: 30px;
          margin-left: 15px;
          padding: 20px 10px 10px 10px;
        }
      }
    }
  }
}
