.select {
  width: 400px; /* 원하는 너비설정 */
  padding: 0.8em 0.5em; /* 여백으로 높이 설정 */
  background: url("../../Style/img/arrow.png") no-repeat 95% 50%; /* 네이티브 화살표를 커스텀 화살표로 대체 */
  background-size: 30px 30px;
  border: 1px solid #999;
  border-radius: 0px; /* iOS 둥근모서리 제거 */
  font-size: 20px;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

.clickSelected {
  @extend .select;
  //클릭시 화살표 방향바꾸기 알려주세요 예리님. 못찾겠어여 ㅠㅠ .
}
