@import "Style/font/font.scss";

.menu_modal {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .menu_modal_content {
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 6px;
    width: 400px;
    height: 550px;

    .menu_modal_img {
      display: block;
      width: 100%;
      height: 60%;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
    }

    .menu_modal_name {
      font-size: 1.3em;
      text-align: center;
      margin: 20px 0 10px;
      font-family: $homefont;
    }

    .menu_modal_eng_name {
      font-size: 1em;
      text-align: center;
      color: #c7a111;
      margin: 0;
      font-family: $homefont;
    }

    .menu_modal_detail_text {
      font-size: 0.8em;
      text-align: center;
      color: #333333;
      font-family: $homefont;
    }
  }
}

.modal_exit {
  position: absolute;
  display: block;
  bottom: 0;
  color: white;
  background-color: #333333;
  text-align: center;
  font-size: 1em;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  font-family: $homefont;
}

.modal_exit:hover {
  cursor: pointer;
  opacity: 0.7;
}